<div class="page-header">
  <h1>CAS Buildings</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Building Name</th>
      <th>Building Short Name</th>
			<th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% @buildings.each do |building| %>
    <tr>
			<td><%= building.name %></td>
			<td><%= building.short_name %></td>
			<td><a href="<%= edit_building_path(building) %>"><i class="icon-edit"></i> Edit</a></td>
    </tr>
	<% end %>
  </tbody>
</table>
<%=  paginate @buildings %>
<%= link_to "New Building", new_building_path, :method => :get, :class => 'btn' %>