<%= render :partial => 'shared/error_messages', :locals => { :object => @location } %>
<%= form_for @location do |f| %>
	<div class="field">
		<%= f.label :building %>
		<%= collection_select(:location, :building_id, Building.find(:all), :id, :name, :prompt => "Select a Building") %>
	</div>

	<div class="field">
		<%= f.label :room %>
		<%= f.text_field :room %>
	</div>
	
	<div class="field">
		<%= f.label :notes %>
		<%= f.text_area :notes %>
	</div>
	
	<div class="field">
		<% new_record = @location.new_record? %>
		<%= f.submit new_record ? "Add Location" : "Update Location", :class => submit_button_class(@location) %>
	</div>
<% end %>