<div class="page-header">
	<h1>Rooms</h1>
</div>

<div class="symbols-legend">
	<span class="label label-info">Important</span><span class="has-notes"> * </span> denotes that room has associated notes.
</div>

<div id="search">
	<%= form_tag locations_path, :method => :get, :class => 'form-search' do %>
	    <%= text_field_tag :query, params[:query], :class => 'search-query' %>
	    <%= submit_tag "Find", :name => nil, :class => 'btn' %>
	<% end %>
</div>

<div id="locations">
  <%= render 'locations' %>
</div>

<div id="paginator">
  <%=  paginate @locations %>
</div>