<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CAS Jack ID Database</title>
	<%= csrf_meta_tags %>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->

	<!-- Le styles -->
	<%= stylesheet_link_tag "application", :media => "all" %>

	<!-- Le fav and touch icons -->
	<link href="images/favicon.ico" rel="shortcut icon">
	<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<%= link_to "CAS Jack ID Database", root_path, :class => "brand" %>
				<div class="container nav-collapse">
					<ul class="nav">
						<li><%= link_to "Jack IDs", jack_ids_path %></li>
						<li><%= link_to "Rooms", locations_path  %></li>
					</ul>
					<ul class="nav pull-right">
						<li><p class="navbar-text"><%= current_admin.email %></p><li>
						<li class="divider-vertical"></li>
						<li><%= link_to "Logout", logout_path  if logged_in? %></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<div class="row">
				<div class="span9">
					<!-- Render flash messages. -->
					<%= render 'shared/flash_messages' %>

					<!-- Main content goes here .-->
					<%= yield %>
				</div>
				<div class="span3">
					<!-- Sidebar .-->
					<div class="well sidebar-nav">
						<h3>Admin Actions</h3>
						<ul class="nav nav-list">
							<li class="nav-header">Create</li>
							<!-- <li><%= link_to "New Jack ID", "#"  %></li> -->
							<li><%= link_to "New Room", new_location_path  %></li>
							
						</ul>
						<ul class="nav nav-list">
							<li class="nav-header">Manage</li>
							<li><%= link_to "Manage Admins", admins_path  %></li>
							<li><%= link_to "Manage Buildings", buildings_path  %></li>
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/content-->

		<footer>
			
		</footer>

		<!-- Rails debugging info. -->
		<% if Rails.env.development? %>
			<%= debug(params)  %>
		<% end %>
	</div> <!-- /container -->

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "application" %>

</body>
</html>
